.secondPage {
	background-image: url("../img/brain2.jpg");
	/*background-size: contain;*/
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 100vh;
	width: 100%;
	/*height: 100%;*/
	position: relative;
	padding: 0 25px;
}
.secondTextBox {
	margin: auto;
	width: 100%;
	max-width: 1280px;
	min-height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding-bottom: 10vh;
	position: relative;
}

.secondTextBox h1 {
	margin-right: 6rem;
	font-family: 'Roboto', sans-serif;
	font-size: 15rem;
	line-height: 70%;
	letter-spacing: .01em;
	text-transform: lowercase;
	text-align: left;
	margin-bottom: .25em;
	color: #ffe500;
}

p.bordertop {
	font-family: 'Noto Serif', serif;
	border-top: 2px solid black;
	font-size: 1rem;
	line-height: 140%;
	color: #000;
	max-width: 600px;
	padding-top: 1em;
}

.note {
	font-family: 'Noto Serif', serif;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: 10vh;
	font-size: .7rem;
	font-style: italic;
	align-self: flex-start;
}

p.note span {
	font-size: 3em;
	color:#ffe500;
}

img.attention1 {
	display: block;
	width: 100%;
	height: auto;
}

.attention1 {
	position: absolute;
	bottom: 0;
	right:25px;
}

@media screen and (max-width: 865px) {
 	.note {
 		margin-bottom: 3vh;
 	}
}

@media screen and (max-width: 656px) {
 	.secondTextBox h1 {
 		margin-right: 0rem;
 		margin-bottom: 3rem;
 		justify-content: flex-start;
		align-items: flex-start;
 	}
}

@media screen and (max-width: 500px) {
 	.secondTextBox h1 {
 		font-size: 12rem;
 	}
}